*{
    margin : 0;
}
.header {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:#3b4d6d;
    word-spacing: 2.0px;
    border-bottom: 2px solid #000;
    background-color: rgb(132, 120, 167);
    padding: 50px 50px;
    width: 100%;
}

.link-menu {
    width: 100%;
}

.list {
    padding: 50px 100px;
    list-style-type: none;
    font-size: 20px;
   
}

.list li a {
    text-decoration: none;
    color: rgb(21, 85, 148);
    font-weight: 700;
}

.list li a:hover {
    color:#747c85;
}