.topic {
    background-color: #692c2c;
}

body {
    background-color: #c5a5a5;
}

.input, .col2-bg {
    background-color: #c5a5a5;
}

.table-bg {
    background-color: rgb(182, 122, 122);
    color: #FFF;
}

